alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
docutils==0.16
idna==2.9
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.2.0
packaging==20.1
pluggy==0.13.1
py==1.8.1
Pygments==2.5.2
pyparsing==2.4.6
pytest==5.3.5
pytz==2019.3
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.0
Sphinx==2.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.8
-e git+https://github.com/brentspector/urmarketscraper.git@f9f7e1ca6707ba5332304517f2692bcdfd13b5a7#egg=urmarketscraper
wcwidth==0.1.8
